body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightcyan;
}
*, *:before, *:after {
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}